# Ignorar arquivos do macOS
.DS_Store

# Ignorar dependências do Node.js geradas pelo package manager
node_modules/

# Ignorar diretórios gerados pelo Cordova
/plugins/
platforms/

# Ignorar configurações locais
config.xml
.vscode/

# Ignorar arquivos config, xml, package-lock.json e package.json
config
*.xml
package-lock.json
package.json
